@model List<WDPR_A.Models.Chat>

@{
    ViewData["Title"] = "Zelfhulpgroepen";
}

<h1>Zelfhulpgroepen vinden</h1>
<br>


<form method="get">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Aandoening</label>
                    <select class="form-select" id="inputGroupSelect01" name="subject">
                    <option value="">Kies...</option>
                    <option value="ADHD">ADHD</option>
                    <option value="Faalangst">Faalangst</option>
                    <option value="Eetstoornis">Eetstoornis</option>
                    <option value="Dyslexie">Dyslexie</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect02">Leeftijdscategorie</label>
                    <select class="form-select" id="inputGroupSelect03" name="ageCategory">
                    <option value="">Kies...</option>
                    <option value="@AgeCategory.Jongste">Jongste</option>
                    <option value="@AgeCategory.Middelste">Middelste</option>
                    <option value="@AgeCategory.Oudste">Oudste</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                    <input type="submit" value="Filter" class="btn btn-primary">
            </div>
        </div>
    </div>
</form>

<table class="table">
    <tr>
      <th>Chatnaam</th>
      <th>Onderwerp</th>
      <th>Leeftijdscategorie</th>
    </tr>
    @foreach (var chat in Model) {
     <tr>
          <td>
                @Html.DisplayFor(modelItem => chat.RoomName)
          </td>
          <td>
                @Html.DisplayFor(modelItem => chat.Subject)
          </td>
          <td>
                @Html.DisplayFor(modelItem => chat.AgeCategory)
          </td>
     </tr>
    }
</table>
@ViewData["Melding"]