@model List<WDPR_A.Models.Client>


<div id="listClient">
    <table class="table table-hover">
        <tr>
            <th>Aandoening</th>
            <th>Leeftijd category</th>
            <th>Aandoening</th>
            <th>Woonplaats</th>
            <th>Deblokkeren</th>
        </tr>
        @foreach (var client in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => client.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.AgeCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.Woonplaats)
                </td>
                <td>
                    <button class="btn btn-warning" onclick="deblockClient('@(client.Id)')">deblokkeren</button>
                </td>
            </tr>
        }
    </table>
</div>

@section script{
<script>
    console.log(222222);

    function deblockClient(clientId) {
        console.log(23);
        $.ajax({
            type: "POST",
            url: "@Url.Action("UnblockClient")",
            data: {
                stringId: clientId
            },
            dataType: "text",
            success: function (msg) {
                $("#listClient").replaceWith(msg);
            },
            error: function (req, status, error) {
                console.log(error)
            }
        });
    }
</script>
}