@model List<WDPR_A.Models.Appointment>
@{
    ViewData["Title"] = "Moderator Dashboard";
}

<div class="text-center">
    <h1 class="display-4"><strong>Moderator Dashboard</strong></h1>
</div>
<br>

<form method="get">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <label for="searchString" class="form-label">Naam Client:</label>
                <input type="text" name="searchString" />
            </div>

            <div class="col-auto">
                <input type="submit" value="Zoek" class="btn btn-primary">
            </div>
        </div>
    </div>
</form>

<table class="table table-hover">
    <tr>
        <th>Orthopedagoog</th>
        <th>Aandoening</th>
        <th>Client</th>
        <th>Status</th>
    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @{
                    var fullNameOrthopedagogue = Model[i].Orthopedagogue.FirstName + " " +
                    Model[i].Orthopedagogue.LastName;

                    @Html.DisplayFor(modelItem => fullNameOrthopedagogue)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].IncomingClient.Condition)
            </td>
            <td>
                @{
                    var fullNameClient = Model[i].IncomingClient.FirstName + " " +
                    Model[i].IncomingClient.LastName;

                    @Html.DisplayFor(modelItem => fullNameClient)
                }
            </td>

            @if (!Model[i].IncomingClient.EmailConfirmed)
            {
                <td>
                    @{
                        var status = "Email moet nog geverifieerd worden";
                        @Html.DisplayFor(modelItem => status)
                    }
                </td>
            }

            @if (Model[i].IncomingClient.EmailConfirmed && Model[i].IncomingClient.PasswordHash == null)
            {
                <td>
                    @{
                        var status = "Wachtwoord moet nog aangemaakt worden";
                        @Html.DisplayFor(modelItem => status)
                    }
                </td>
            }

            @if (Model[i].IncomingClient.EmailConfirmed && Model[i].IncomingClient.PasswordHash != null)
            {
                <td>
                    @{
                        var status = "Is in behandeling";
                        @Html.DisplayFor(modelItem => status)
                    }
                </td>
            }
        </tr>

    }
</table>
@ViewData["Melding"]