@model Chat


<div id="messages" class="overflow-auto" style="max-height: 25em;">
    @foreach (var message in Model.Messages)
    {
        if (message.Sender.Id == ViewData["CurrentUserID"].ToString()) {

            <div class="card col-6 offset-6">
                <div class="card-body" style="background-color: lightgreen;">
                    <strong class="card-title" >Jij</strong> <br>
                    <h6 class="card-text" style="color: #4F4F4F;">@message.Text</h6>
                    <p class="card-text" style="color: #4F4F4F;">@message.When</p> 
                </div>
            </div> 
            <br>

        } else {

            <div class="card col-6 offset-0">
                <div class="card-body" style="background-color: lightblue;">
                    <strong class="card-title">@message.Sender.FirstName</strong> <br>
                    <h6 class="card-text" style="color: #4F4F4F;">@message.Text</h6>
                    <p class="card-text" style="color: #4F4F4F;">@message.When</p>
                </div>
            </div>
            <br>
        }
    }
</div>