@model WDPR_A.ViewModels.ClientFile?;

<div id="pDiv">
    @if (Model != null)
    {
        <p>@Model.PersonDetails.BSN</p>
        <p>@Model.PersonDetails.FullName</p>
        <p>@Model.PersonDetails.BirthDate</p>
        <p>@Model.PersonDetails.Address</p>
        <p>@Model.PersonDetails.Residence</p>
        <p>@Model.PersonDetails.ZipCode</p>
        <p>@Model.ReasonForReferral</p>
        <p>@Model.insurance</p>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Geen dossier gevonden.
        </div>
    }
</div>